body {
    display: grid;
    grid-template:
        "left right" 9fr
        "left footer" 1fr /
        1fr 4fr;
    grid-gap: 15px;
}

nav {
    grid-area: left;
}

main {
    grid-area: right;
}

footer {
    grid-area: footer;
}
