nav {
    grid-area: left;
}
ul {
    padding: 0;
    list-style-type: none;
    width: 100%;
}
li {
    padding: 0;
    width: 100%;
    border-bottom: 1px solid black;
}
ul li a {
    display: block;
    width: 100%;
    padding: 15px 5px;
}
/** nested ul */
ul li ul {
    padding-left: 35px;
}
ul li ul li:last-child {
    border-bottom: 0;
}

/* hamfisted link highlighting */
li.selected > a,
li:hover > a,
body.index li.index a,
body.getting-started li.getting-started a,
body.installation li.installation a,
body.game li.game a,
body.states li.states a,
body.entities-and-components li.entities-and-components a,
body.systems li.systems a,
body.api li.api a,
li.dropdown.open > a {
    background: $nav;
    color: white;
}

/* dropdown styles */
li.dropdown {
    cursor: pointer;
    position: relative;
}
li.dropdown ul,
li.dropdown ul li,
li.dropdown ul li a {
    max-height: 0;
    opacity: 0;
}
li.dropdown ul li a {
    padding: 0;
}
li.dropdown:hover ul,
li.dropdown.open ul,
li.dropdown:hover ul li,
li.dropdown.open ul li,
li.dropdown:hover ul li a,
li.dropdown.open ul li a {
    max-height: 1000px;
    opacity: 1;
}
li.dropdown:hover ul li a,
li.dropdown.open ul li a {
    padding: 15px 5px;
}
li.dropdown > a::after {
    content: ">";
    font-weight: bold;
    font-size: 18px;
    display: inline;
    position: absolute;
    right: 10px;
}
li.dropdown:hover > a::after,
li.dropdown.open > a::after {
    transform: rotate(90deg);
}
