ul {
    padding: 0;
    list-style-type: none;
    width: 100%;

    li {
        padding: 0;
        width: 100%;
        border-bottom: 1px solid black;

        a {
            display: block;
            width: 100%;
            padding: 15px 5px;
        }

        ul {
            padding-left: 35px;

            li:last-child {
                border-bottom: 0;
            }
        }
    }
}

/* hamfisted link highlighting; mixin maybe? */
li.selected > a,
li:hover > a,
body.index li.index a,
body.getting-started li.getting-started a {
    background: $nav;
    color: white;
}
