ul#nav
    li.index
        a(href=relativePrefix + 'index.html') Home

    li.getting-started
        a(href=relativePrefix + 'getting-started.html') Getting Started

    li.api
        a(href=relativePrefix + 'api') API
